{
  "globals": {
    "window": true
  },
  "extends": ["semistandard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "max-len": [
      "error",
      {
        "code": 125,
        "comments": 125
      }
    ],
    "no-console": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}