body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.header {
  font-family: 'Source Sans Pro'
}

.app-bar-container {
  position: fixed;
  margin-top: 10px;
}

.children {
  padding-top: 50px;
  padding-left: 50px;
}

.cards-container {
  margin-right: 50px;
  margin-top: 3%;
}