body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.header {
  font-family: 'Source Sans Pro'
}

.app-bar-container {
  position: fixed;
  margin-top: 10px;
}

.children {
  padding: 50px;
}

.cards-container {
  margin-right: 50px;
  margin-top: 3%;
  height: 50%;
  width: 50%;
}

.image {
  width: 30%;
  height: 30%;
}

#dashboard {
  background-image: url('/assets/splash_05.jpg');
  background-size: cover;
}


#dashboard {
  width: 40%;
  height: 40%;
}

#lawsuit {
  width: 50%;
  height: 50%;
  z-index: 0;
}

.app-bar-left-icon {
  background: black!important
}